
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" class="user-form">
    <h4 class="user-title">Xác Nhận</h4>
    <hr />
    <label for="Code">Tài Khoản: </label>
    <input type="text" id="Username" name="Username" placeholder="Nhập ..." />
    <button class="btn btn-primary" style="width:100%">Gửi</button>
</form>

<script>
    if ('@ViewBag.err' != '') {
        alert('@ViewBag.err');
    }
</script>


