@model Web_Store.Models.EarnBill

<div class="bg-fade"></div>
<div id="UserItem" class="user-form light-box" style="margin:-300px 0px 0px -250px;width:500px; height:600px;padding:5px 0px;position:fixed">
    <button class="btn btn-default" style="position:absolute;top:5px;right:5px" onclick="btnBagClick()"><i style="font-size:20px" class="fas fa-times"></i></button>
    <h4> <i class="fa fa-shopping-basket"></i> Giỏ Hàng</h4>
    <hr style="clear:both" />
    <div style="overflow-y:auto;height:450px;padding:0px 10px">
        @{
            int i = 0;
            foreach (var d in Model.Deliveries)
            {
                @Html.Partial("../Partial/_DeliveryItem", d)
                i += d.Quantity;
            }
            if (i == 0)
            {
                @:<p>Giỏ hàng rỗng ...</p>
            }
        }
    </div>
    <hr style="clear:both" />
    <div style="padding:0px 20px;">
        <button onclick="btnBuy()" class="btn btn-success" style="float:right" type="submit" >Mua Hàng</button>

        Tổng: @(Convert.ToInt32(Model.Price))đ ( @i vật)
        <br />
        <i style="color:red;font-size:10px;float:left">**Số lượng nhỏ hơn 1 vật phẩm sẽ bị xoá</i>

    </div>
</div>



