<footer style="clear:both;background-color:transparent; color:bisque;" class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div style="padding-left: 30px;" class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Thần Y Quán</h5>
                <p>
                    Lập Trình Web
                    <br /> Thầy Trung.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div style="padding-left: 30px;" class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase">Liên Hệ</h5>
                <p>
                    Author: Nguyễn Khoa Đảnh - MSSV: 18110091.
                    <br />Gmail: 18110091@student.hcmute.edu.com
                    <br />FB: <a href="https://www.facebook.com/dannk1312/">https://www.facebook.com/dannk1312/</a>
                    <hr />
                    Author: Bùi Trung Hiếu - MSSV: 18110104.
                    <br />Mail: 18110104@student.hcmute.edu.com
                    <br />FB: <a href="https://www.facebook.com/bui.trunghieu.7739">https://www.facebook.com/bui.trunghieu.7739</a>
                </p>
            </div>
        </div>
    </div>
</footer>